<div class="col-lg-4 col-md-4 text-center">
    <div class="feature">
        <i class="icon-lg ion-female wow fadeIn" data-wow-delay=".3s"></i>
        <h3>Op zoek naar jezelf</h3>
        <p class="text-muted">Pellentesque fringilla interdum convallis. Donec ut viverra sapien. Nullam hendrerit facilisis diam ac sodales. Mauris quis elit lorem. Proin ac lacus lectus. Vestibulum nulla tortor, semper fringilla dui in, feugiat dapibus neque. Cras neque lorem, varius vitae dictum a, finibus id odio. In vel pretium nibh. Suspendisse tristique magna dictum diam euismod faucibus id sed diam. Sed non bibendum nibh. Vivamus nunc orci, sollicitudin sit amet gravida eget, aliquam vestibulum nulla. Ut vestibulum quam odio, ac lacinia nunc lacinia at.</p>
    </div>
</div>